[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jedi = "*"
mypy = "*"

[packages]
pycairo = {file = "https://download.lfd.uci.edu/pythonlibs/r5uhg2lo/pycairo-1.18.0-cp36-cp36m-win_amd64.whl", sys_platform = "== 'linux'"}
python-igraph = {file = "https://download.lfd.uci.edu/pythonlibs/r5uhg2lo/python_igraph-0.7.1.post6-cp36-cp36m-win_amd64.whl", sys_platform = "== 'linux'"}

[requires]
python_version = "3.6"
